{% extends 'DominusBackBundle::base.html.twig' %}

{% block login_content %}
    {% if error %}
        <div class="col-md-12 errors">{{ error.messageKey }}</div>
    {% endif %}

    {{ form_start(form) }}
    <div class="col-md-12">
        {{ form_label(form._username, 'Login') }}
        {{ form_widget(form._username) }}
    </div>

    <div class="col-md-12">
        {{ form_label(form._password, 'Mot de passe') }}
        {{ form_widget(form._password) }}
    </div>
    {% if targetPath is defined %}
        <div class="col-md-12">
            <input type="hidden" name="_target_path" value="{{ targetPath }}" />
        </div>
    {% endif %}
    <div class="col-md-12">
        <button class="btn btn-primary btn-action" type="submit">Valider</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
