{% import "@DominusBackBundle/include/menu.html.twig" as menu %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}"> {# locale is used to translate automatically select2 component #}
<head>
    <meta charset="UTF-8"/>
    <title>{% block meta_title %}Dominus Admin{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets
        'components/bootstrap/dist/css/bootstrap.min.css'
        'components/bootstrap/dist/css/bootstrap-theme.min.css'
        'components/toastr/toastr.min.css'
        'components/fontawesome/css/font-awesome.min.css'
        'components/select2/dist/css/select2.css'
        'components/datetimepicker/jquery.datetimepicker.css'
        filter='cssrewrite' %}
        <link href="{{ asset(asset_url) }}" rel="stylesheet" media="screen">
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block header_menu %}
    <div id="header" class="container-fluid">
        <nav class="navbar navbar-inverse navbar-fixed-top js-page-header" role="navigation">
            <div id="navbar-body" class="container-fixed">
                <div id="navbar-collapse" class="collapse navbar-collapse">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% include '@DominusBackBundle/navbar.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

<div id="content" class="container-fixed clearfix {% block extraClassContent %}{% endblock %}">

    {% block contentView %}

        {% block flashMessages %}{% endblock %}

        {% block header %}

            <header id="headerContent" class="condensed js-header-fixed {% block header_classes %}{% endblock %}">

                {% block header_prepend %}{% endblock %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="title-container">
                            {% block header_icon %}{% endblock %}
                            <h1>{% set block_title = block('title') %}{{ block_title |raw }}
                                {% if block_title is not empty %}
                                    <small class="glyphicon glyphicon-question-sign control-label" for="page-help"
                                           style="font-size: 10px;" data-placement="bottom"></small>
                                {% endif %}
                            </h1>

                            <div class="actions">
                                {% block header_actions %}{% endblock %}
                            </div>
                            {% block title_details %}{% endblock %}
                        </div>
                    </div>
                </div>

                {% block header_extra %}{% endblock %}

            </header>

        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}

    {% endblock %}

</div>

<footer class="admin-footer">
    {% block heveaFooter %}{% endblock %}
</footer>

{% block javascripts %}

    <script src="{{ asset('components/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    {% javascripts
        'components/bootstrap/dist/js/bootstrap.min.js'
        'components/jquery/dist/jquery.min.js'
        'components/jquery-ui/jquery-ui.min.js'
        'components/select2/dist/js/select2.full.min.js'
        'components/datetimepicker/build/jquery.datetimepicker.full.min.js'
        'components/ckeditor/adapters/jquery.js'
        'components/ckeditor/lang/fr.js'
        'components/bootbox.js/bootbox.js'
        'components/toastr/toastr.min.js'
        'components/knockoutjs/src/dist/knockout.js'
    %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}

{% endblock %}
</body>
</html>