{%  macro  navbar_project (projectName, navigationProject) %}
    <a href="#" id="application-main-menu" role="button" data-toggle="dropdown" class="dropdown-toggle">
        <span>{{ projectName }}</span>
        <span class="caret"></span>
    </a>
    <ul role="menu" class="dropdown-menu">
        {% for groupLinks in navigationProject %}
            <li class="dropdown-header" role="presentation">{{ groupLinks.title }}</li>
            {% for label, item in groupLinks.items %}
                <li><a href="{% if item.href is defined %}{{ item.href }}{% else %}#{% endif %}">{{ label }}</a></li>
            {% endfor %}
        {% endfor %}

        {#<li class="divider" role="presentation"></li>#}
        {#<li class="dropdown-header" role="presentation">Configuration générale</li>#}
        {#<li><a href="/">Gestion des utilisateurs</a></li>#}
        {#<li><a href="/">Gestion des groupes</a></li>#}
    </ul>
{% endmacro %}

    {%  macro  navbar_left (navigation) %}
        <ul class="nav navbar-nav" id="navbar-left">
            {% for label, item in navigation %}
                <li{% if item.style is defined %} style="{{ item.style }}"{% endif %}>
                    <a {% if item.id is defined %}id="{{ item.id }}"{% endif %}
                       href="{% if item.href is defined %}{{ item.href }}{% else %}#{% endif %}"
                       class="{% if item.submenu is defined %}dropdown-toggle{% endif %}" role="button">
                        {{ label }}
                        {% if item.submenu is defined %}<b class="caret"></b>{% else %}{% endif %}
                    </a>
                    {% if item.submenu is defined %}
                        <ul class="dropdown-menu">
                            {% for labelSub, itemSub in item.submenu %}
                                <li {% if itemSub.submenu is defined %}class="dropdown-submenu"{% endif %}{% if item.style is defined %} style="{{ itemSub.style }}"{% endif %}>
                                    <a href="{% if itemSub.href is defined %}{{ itemSub.href }}{% else %}#{% endif %}" {% if itemSub.submenu is defined %}class="dropdown-toggle"{% endif %}>
                                        {{ labelSub }}
                                    </a>
                                    {% if itemSub.submenu is defined %}
                                        <ul class="dropdown-menu">
                                            {% for labelSubSub, itemSubSub in itemSub.submenu %}
                                                <li{% if item.style is defined %} style="{{ itemSubSub.style }}"{% endif %}>
                                                    <a href="{% if itemSubSub.href is defined %}{{ itemSubSub.href }}{% else %}#{% endif %}">
                                                        {{ labelSubSub }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endmacro %}

    {%  macro  navbar_right (navigationRight) %}
        <ul id="navbar-right" class="nav navbar-nav navbar-right username-nav">
            {% for label, item in navigationRight %}
                <li{% if item.style is defined %} style="{{ item.style }}"{% endif %}>
                    <a {% if item.id is defined %} id="{{ item.id }}" {% endif %}
                            href="{% if item.href is defined %}{{ item.href }}{% else %}#{% endif %}" role="button">
                        {{ label }}
                        {% if item.submenu is defined %}<span class="caret"></span>{% endif %}
                    </a>
                    {% if item.submenu is defined %}
                        <ul role="menu" class="dropdown-menu">
                            {% for labelSub, itemSub in item.submenu %}
                                <li>
                                    <a href="{% if itemSub.href is defined %}{{ itemSub.href }}{% else %}#{% endif %}">{{ labelSub }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endmacro %}
